.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: var(--centerBlock);
  padding-right: var(--centerBlock);
}