.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 56px);
}
.spinner {
  width: 50px !important;
  height: 50px !important;
}
