.card {
  min-height: 200px;
  width: 100%;
  @media only screen and (min-width: 100px) and (max-width: 700px) {
    min-height: 100px;
  }
  .counterBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .counterText {
    font-size: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
}
