body {
  --centerBlock: 4%;
  --padding: 15px;
  --margin: 15px;
  --subtraction-margin: 15px;
  transition: all 1s;
  @media only screen and (min-width: 500px) and (max-width: 700px) {
    --padding: 10px;
    --centerBlock: 1%;

  }
  @media only screen and (min-width: 100px) and (max-width: 500px) {
    --padding: 5px;
    --centerBlock: 1%;

  }
}
