.table {
  --table-width: 100%;
  --col-width: 100px;
  --flex-grow: 1;
  @media only screen and (min-width: 100px) and (max-width: 700px) {
    --col-width: auto;
  }

}
.container {
  padding: var(--padding);

}

.header {
  @media only screen and (min-width: 100px) and (max-width: 700px) {
    display: none;
  }
}

.body {
}

.row {
  .row__header {
    display: none;
    font-weight: 800;
  }
  @media only screen and (min-width: 100px) and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .row__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 0 10px 0;
    }
  }

}

.col {
  width: var(--col-width);
  transition: all .2s;
  text-align: center;
  @media only screen and (min-width: 100px) and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  &:hover{
    background-color: gray;
  }
  &:focus-within{
    background-color: gray;
  }
  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
  }
}
