.stack {
  --space: 1.5rem;
  --into-space: 1rem;
  --children-width: 300px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  * {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    padding: var(--padding);
  }
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  * {
    max-width: var(--children-width);
  }
}
